In [ ]:
import pandas as pd
import numpy as np
!pip install geopandas 
import geopandas as gpd
import altair as alt
pd.set_option('display.max_columns', None)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.21)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.2)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.5.18.1)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)

In [ ]:
# df1 = gdp.read_file('202009-citibike-tripdata.csv')
df1 = gpd.read_file('202009-citibike-tripdata.csv.zip')

In [ ]:
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,geometry
0,4225,2020-09-01 00:00:01.0430,2020-09-01 01:10:26.6350,3508,St Nicholas Ave & Manhattan Ave,40.809725,-73.953149,116,W 17 St & 8 Ave,40.74177603,-74.00149746,44317,Customer,1979,1,None
1,1868,2020-09-01 00:00:04.8320,2020-09-01 00:31:13.7650,3621,27 Ave & 9 St,40.7739825,-73.9309134,3094,Graham Ave & Withers St,40.7169811,-73.94485918,37793,Customer,1991,1,None
2,1097,2020-09-01 00:00:06.8990,2020-09-01 00:18:24.2260,3492,E 118 St & Park Ave,40.8005385,-73.9419949,3959,Edgecombe Ave & W 145 St,40.823498,-73.94386,41438,Subscriber,1984,1,None
3,1473,2020-09-01 00:00:07.7440,2020-09-01 00:24:41.1800,3946,St Nicholas Ave & W 137 St,40.818477,-73.947568,4002,W 144 St & Adam Clayton Powell Blvd,40.820877,-73.939249,35860,Customer,1990,2,None
4,1193,2020-09-01 00:00:12.2020,2020-09-01 00:20:05.5470,3081,Graham Ave & Grand St,40.711863,-73.944024,3048,Putnam Ave & Nostrand Ave,40.68402,-73.94977,26396,Customer,1969,0,None

In [ ]:
from zipfile import ZipFile
import requests
import io

# Here we are getting the zip file
citibikeZipFile = requests.get('https://s3.amazonaws.com/tripdata/202109-citibike-tripdata.csv.zip')

# Here we are uncompressing it and reading the whole package into a variable
zipFiles = ZipFile(io.BytesIO(citibikeZipFile.content))

# And here we are looping through the package and printing the names of the files
for name in zipFiles.namelist():
  print(name)

# Finally, we can take that loaded uncopressed package and use it to just load one file to the Pandas dataframe:
df = pd.read_csv(zipFiles.open('202109-citibike-tripdata.csv'))

202109-citibike-tripdata.csv
__MACOSX/._202109-citibike-tripdata.csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A789BD2808767C24,classic_bike,2021-09-16 12:34:39,2021-09-16 12:36:05,Clinton St\t& Cherry St,5190.09,Madison St & Clinton St,5190.07,40.711471,-73.986726,40.71269,-73.987763,member
1,B3E45CE415FDF1E7,classic_bike,2021-09-28 20:36:25,2021-09-28 20:37:58,Clinton St & Grand St,5303.06,Madison St & Clinton St,5190.07,40.715595,-73.987030,40.71269,-73.987763,member

In [ ]:
# Total number of trips for 2020
len(df1)

2488225

In [ ]:
# Total number of trips for 2021
len(df)

3280560

In [ ]:
#Top 5 stations by number of trip starts for 2020
df1['start station name'].value_counts().head(5)

W 21 St & 6 Ave          13875
West St & Chambers St    13225
12 Ave & W 40 St         12869
1 Ave & E 68 St          12816
E 17 St & Broadway       11264
Name: start station name, dtype: int64

In [ ]:
#Top 5 stations by number of trip starts for 2021
df['start_station_name'].value_counts().head(5)

W 21 St & 6 Ave             14435
E 17 St & Broadway          14065
Broadway & E 14 St          13155
Cleveland Pl & Spring St    12987
W 20 St & 10 Ave            12918
Name: start_station_name, dtype: int64

In [ ]:
#Top 5 stations by number of trip stops for 2021
df['end_station_name'].value_counts().head(5)

W 21 St & 6 Ave             14420
E 17 St & Broadway          14092
Cleveland Pl & Spring St    13114
Broadway & E 14 St          12918
W 20 St & 10 Ave            12912
Name: end_station_name, dtype: int64

In [ ]:
#Top 5 stations by number of trip stops for 2020
df1['end station name'].value_counts().head(5)

W 21 St & 6 Ave          13967
West St & Chambers St    13783
12 Ave & W 40 St         12922
1 Ave & E 68 St          12689
E 17 St & Broadway       11446
Name: end station name, dtype: int64

In [ ]:
#Median number of starts 2020
df1['start station name'].value_counts().median()

1457.0

In [ ]:
#Median number of starts 2021
df['start_station_name'].value_counts().median()

1133.5

In [ ]:
#Median number of stops 2020
df1['end station name'].value_counts().median()

1434.5

In [ ]:
#Median number of stops 2021
df['end_station_name'].value_counts().median()

1078.0

In [ ]:
#Top 5 stations that have seen the largest increase in stops
stopsTop = df['end_station_name'].value_counts() - df1['end station name'].value_counts()
stopsTop.sort_values().dropna().tail()

W 63 St & Broadway                    4390.0
St Marks Pl & 2 Ave                   4958.0
Grand Army Plaza & Central Park S     5067.0
E 39 St & 2 Ave                       5987.0
W 20 St & 10 Ave                     11788.0
dtype: float64

In [ ]:
#Top 5 stations that have seen the largest decrease in stops
stopsLowest = df['end_station_name'].value_counts() - df1['end station name'].value_counts()
stopsLowest.sort_values().dropna().head()

St Marks Pl & 1 Ave      -4323.0
W 53 St & 10 Ave         -3477.0
W 74 St & Columbus Ave   -3068.0
Broadway & W 56 St       -2883.0
Bond St & Fulton St      -2621.0
dtype: float64

In [ ]:
#Top 5 stations that have seen the largest increase in starts 
startsTop = df['start_station_name'].value_counts() - df1['start station name'].value_counts()
startsTop.sort_values().dropna().tail()

University Pl & E 8 St                4408.0
Grand Army Plaza & Central Park S     4757.0
St Marks Pl & 2 Ave                   4891.0
E 39 St & 2 Ave                       6379.0
W 20 St & 10 Ave                     11832.0
dtype: float64

In [ ]:
#Top 5 stations that have seen the largest decrease in starts
startsLowest = df['start_station_name'].value_counts() - df1['start station name'].value_counts()
startsLowest.sort_values().dropna().head()

St Marks Pl & 1 Ave      -4349.0
W 53 St & 10 Ave         -3491.0
Broadway & W 56 St       -3156.0
W 74 St & Columbus Ave   -3061.0
Bond St & Fulton St      -2551.0
dtype: float64

In [ ]:
import altair as alt

In [ ]:
df1.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,geometry
0,4225,2020-09-01 00:00:01.0430,2020-09-01 01:10:26.6350,3508,St Nicholas Ave & Manhattan Ave,40.809725,-73.953149,116,W 17 St & 8 Ave,40.74177603,-74.00149746,44317,Customer,1979,1,None

In [ ]:
#Converting the columns to floats
df1['end station latitude'] = df1['end station latitude'].astype(float)
df1['end station longitude'] = df1['end station longitude'].astype(float)
df1['start station latitude'] = df1['start station latitude'].astype(float)
df1['start station longitude'] = df1['start station longitude'].astype(float)

In [ ]:
df.head(2)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A789BD2808767C24,classic_bike,2021-09-16 12:34:39,2021-09-16 12:36:05,Clinton St\t& Cherry St,5190.09,Madison St & Clinton St,5190.07,40.711471,-73.986726,40.71269,-73.987763,member
1,B3E45CE415FDF1E7,classic_bike,2021-09-28 20:36:25,2021-09-28 20:37:58,Clinton St & Grand St,5303.06,Madison St & Clinton St,5190.07,40.715595,-73.987030,40.71269,-73.987763,member

In [ ]:
#Group by station ID into a new dataframe
start_citibike20 = df1.groupby(['start station name']).agg({'start station latitude':'min', 'start station longitude':'min', 'start station id': 'count'}).reset_index()

start_citibike20.head(5)

,start station name,start station latitude,start station longitude,start station id
0,1 Ave & E 110 St,40.792327,-73.938300,2161
1,1 Ave & E 16 St,40.732219,-73.981656,7685
2,1 Ave & E 18 St,40.733812,-73.980544,7611
3,1 Ave & E 30 St,40.741444,-73.975361,4818
4,1 Ave & E 39 St,40.747140,-73.971130,6349

In [ ]:
#Group by station ID into a new dataframe
stop_citibike20 = df1.groupby(['end station name']).agg({'end station latitude': 'min', 'end station longitude': 'min', 'end station id': 'count'}).reset_index()

stop_citibike20.head(5)

,end station name,end station latitude,end station longitude,end station id
0,1 Ave & E 110 St,40.792327,-73.938300,2177
1,1 Ave & E 16 St,40.732219,-73.981656,7546
2,1 Ave & E 18 St,40.733812,-73.980544,7503
3,1 Ave & E 30 St,40.741444,-73.975361,4840
4,1 Ave & E 39 St,40.747140,-73.971130,6374

In [ ]:
#Geodataframe for starts 2020
citiStartsGeo20 = gpd.GeoDataFrame(data=start_citibike20, geometry=gpd.points_from_xy(x=start_citibike20['start station longitude'], y=start_citibike20['start station latitude']), crs='epsg:4326')
citiStartsGeo20.head(2)

,start station name,start station latitude,start station longitude,start station id,geometry
0,1 Ave & E 110 St,40.792327,-73.938300,2161,POINT (-73.93830 40.79233)
1,1 Ave & E 16 St,40.732219,-73.981656,7685,POINT (-73.98166 40.73222)

In [ ]:
citiStartsGeo20= citiStartsGeo20.rename(columns={'start station id': 'tripCount'})

In [ ]:
#Geodataframe for stops 2020
citiStopsGeo20 = gpd.GeoDataFrame(data=stop_citibike20, geometry=gpd.points_from_xy(x=stop_citibike20['end station longitude'], y=stop_citibike20['end station latitude']), crs='epsg:4326')
citiStopsGeo20.head(2)

,end station name,end station latitude,end station longitude,end station id,geometry
0,1 Ave & E 110 St,40.792327,-73.938300,2177,POINT (-73.93830 40.79233)
1,1 Ave & E 16 St,40.732219,-73.981656,7546,POINT (-73.98166 40.73222)

In [ ]:
citiStopsGeo20 = citiStopsGeo20.rename(columns={'end station id': 'tripCount'})
citiStopsGeo20.head(2)

,end station name,end station latitude,end station longitude,tripCount,geometry
0,1 Ave & E 110 St,40.792327,-73.938300,2177,POINT (-73.93830 40.79233)
1,1 Ave & E 16 St,40.732219,-73.981656,7546,POINT (-73.98166 40.73222)

In [ ]:
#Group by station ID into a new dataframe
start_citibike21 = df.groupby(['start_station_name']).agg({'start_lat':'min', 'start_lng':'min', 'start_station_id': 'count'}).reset_index()

start_citibike21.head(5)

  start_station_name  start_lat  start_lng  start_station_id
0   1 Ave & E 110 St  40.792327 -73.938300              2376
1    1 Ave & E 16 St  40.732219 -73.981656              9873
2    1 Ave & E 18 St  40.733812 -73.980544              8279
3    1 Ave & E 30 St  40.741444 -73.975361              4671
4    1 Ave & E 39 St  40.747140 -73.971130              7507

In [ ]:
start_citibike21 = start_citibike21.rename(columns={'start_station_id': 'tripCount'})
start_citibike21.head(2)

  start_station_name  start_lat  start_lng  tripCount
0   1 Ave & E 110 St  40.792327 -73.938300       2376
1    1 Ave & E 16 St  40.732219 -73.981656       9873

In [ ]:
#Geodataframe for starts 2021
citiStartsGeo21 = gpd.GeoDataFrame(data=start_citibike21, geometry=gpd.points_from_xy(x=start_citibike21['start_lng'], y=start_citibike21['start_lat']), crs='epsg:4326')
citiStartsGeo21.head(2)

,start_station_name,start_lat,start_lng,tripCount,geometry
0,1 Ave & E 110 St,40.792327,-73.938300,2376,POINT (-73.93830 40.79233)
1,1 Ave & E 16 St,40.732219,-73.981656,9873,POINT (-73.98166 40.73222)

In [ ]:
stop_citibike21 = df.groupby(['end_station_name']).agg({'end_lat': 'min', 'end_lng': 'min', 'end_station_id': 'count'}).reset_index()

stop_citibike21.head(5)

   end_station_name    end_lat    end_lng  end_station_id
0  1 Ave & E 110 St  40.792327 -73.938300            2445
1   1 Ave & E 16 St  40.732219 -73.981656            9794
2   1 Ave & E 18 St  40.733812 -73.980544            8175
3   1 Ave & E 30 St  40.741444 -73.975361            4663
4   1 Ave & E 39 St  40.747140 -73.971130            7553

In [ ]:
stop_citibike21 = stop_citibike21.rename(columns={'end_station_id': 'tripCount'})
stop_citibike21.head(2)

   end_station_name    end_lat    end_lng  tripCount
0  1 Ave & E 110 St  40.792327 -73.938300       2445
1   1 Ave & E 16 St  40.732219 -73.981656       9794

In [ ]:
#Geodataframe for stops 2021
citiStopsGeo21 = gpd.GeoDataFrame(data=stop_citibike21, geometry=gpd.points_from_xy(x=stop_citibike21['end_lng'], y=stop_citibike21['end_lat']), crs='epsg:4326')
citiStopsGeo21.head(2)

,end_station_name,end_lat,end_lng,tripCount,geometry
0,1 Ave & E 110 St,40.792327,-73.938300,2445,POINT (-73.93830 40.79233)
1,1 Ave & E 16 St,40.732219,-73.981656,9794,POINT (-73.98166 40.73222)

In [ ]:
#expert to file
citiStartsGeo20.to_file('citiStartsGeo20.geojson', driver='GeoJSON')
citiStopsGeo20.to_file('citiStopsGeo20.geojson', driver='GeoJSON')
citiStartsGeo21.to_file('citiStartsGeo21.geojson', driver='GeoJSON')
citiStopsGeo21.to_file('citiStopsGeo21.geojson', driver='GeoJSON')